<div id="<%= dom_id todo %>" class="<%= todo_due_classes(todo) %>">
  <div>
    <strong>Title:</strong>
    <%= todo.title %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </div>

  <% if todo.due_on.present? %>
    <div>
      <strong>Due:</strong>
      <%= todo.due_on %>
      <% if todo.overdue? %>
        <em>(overdue)</em>
      <% end %>
    </div>
  <% end %>

</div>
